.row
  .ten.columns= f.text_field :title, placeholder: "Exchange name", class: 'u-full-width'

.row
  .ten.columns
    = f.label :match_at
    = f.datetime_select :match_at

.row
  .ten.columns
    = f.label :exchange_at
    = f.datetime_select :exchange_at
