- if logged_in?

  - if current_participant.participating?
    .row
      .six.columns
        %h2 Thanks for joining!
      .six.columns
        %p
          You are <strong>participating</strong> in this exhange. To change your mind, just use the button below.
          You can do this any time before the matching date.
        %p= button_to 'Leave the Exchange!', [@exchange, current_participant], method: :patch, params: { participant: { participating: false }}
  - else
    .row
      .six.columns
        %h2 Get involved!
      .six.columns
        %p
          You are <strong>not participating</strong> in this exchange. To change your mind and join the fun, click the button below.
          You can do this any time before the matching date.
        %p= button_to 'Join the Exchange!', [@exchange, current_participant], method: :patch, params: { participant: { participating: true }}

- else
  .row
    .ten.columns.offset-by-one
      %h2 Register your interest in this exchange:

  - if params[:invited]
    .row
      .ten.columns.offset-by-one
        %p
          Thanks! We've sent an email to <strong>#{@participant.email_address}</strong> which contains a link that you
          must click on in order to confirm your participation.
  - else
    = form_for [@exchange, @participant] do |f|
      .row
        .five.columns.offset-by-one= f.text_field :name, placeholder: "Name", class: 'u-full-width'
        .five.columns= f.email_field :email_address, placeholder: "E-Mail Address", class: 'u-full-width'
      .row
        .ten.columns.offset-by-one= f.submit 'Join the Fun!', class: 'u-pull-right button-primary'
      .row
        .ten.columns.offset-by-one
          %p
            After entering your details you'll receive an email which you should use to confirm your participation. You may
            withdraw your participation any time before the matching date.

%hr

.row
  .six.columns
    %h2 Time to Matching:
  .six.columns
    %h3= countdown_timer @exchange.match_at
    %p
      %em
        = @exchange.match_at.to_s(:long)
        (#{current_tz_info})
