%h1 Make a new gift exchange

= form_for @exchange do |f|
  = render 'form', f: f

  = f.fields_for @first_participant do |g|
    = g.label :name, "Your name"
    = g.text_field :name

    = g.label :email_address, "Your e-mail address"
    = g.email_field :email_address

  = f.submit "Create Exchange"
