- title @exchange.title

- meta 'og:url', exchange_url(@exchange)
- meta 'og:title', title
- meta 'og:description', "Join the #{@exchange.title} gift exchange on elfk.it"

.row
  .twelve.columns
    %h1= @exchange.title

.row
  .six.columns
    %h4 Share this URL with your friends and colleagues:

  .six.columns
    %h2= link_to "#{request.domain}#{exchange_path(@exchange)}", exchange_url(@exchange)

%hr

= render @exchange.stage, exchange: @exchange

%hr

.row
  .six.columns
    %h2 Participants:
  .six.columns
    %ul.styled-list
      - @participants.each do |participant|
        %li
          %h5= participant.name

      - if @participants.empty?
        %li
          %h5 No confirmed participants yet, be the first!

- if logged_in? && current_participant.admin?
  %hr

  .row
    .six.columns
      %h2 Update exchange:
    .six.columns
      %p 
        As the creator of this exchange you can update the properties of this exchange, or cancel it altogether.
      %p
        = link_to "Update exchange", edit_exchange_path(@exchange), class: 'button' 
        = link_to "Cancel exchange", exchange_path(@exchange), data: { confirm: "Are you sure you wish to cancel this exchange? This cannot be undone.", method: :delete }, class: 'button'
